<p style="color: green"><%= notice %></p>

<h1>Vitoria's Books</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this book", post %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_post_path %>
